.edit-cluster-form {
  .clipboard-addon {
    background-color: $white-light;
  }
}

.cluster-applications-table {
  // Wait for the Vue to kick-in and render the applications block
  min-height: 179px;
}
